create database QLSV
go
use QLSV
go

create table USERS
(
username nvarchar(50) not null primary key,
upassword nvarchar(30) not null,
chucnang nvarchar(30) not null
)
go

Create table Class
(
	IDClass nvarchar(15) not null primary key,
	NameClass nvarchar(30) not null,
)
go
create table STUDENT
(
Masv nvarchar(10) not null primary key,
Hoten nvarchar(50) not null,
IDClass nvarchar(15) not null,
Ngaysinh datetime,
gioitinh nvarchar(20),
diachi nvarchar(50),
dienthoai nvarchar(15),
Khoanganh nvarchar(30),
loginsv nvarchar(50),
constraint FK_Sinhvien_Class foreign key (IDClass) references Class (IDClass)
)
go



insert into USERS(username,upassword,chucnang) values('HieuTT','123','GV')
insert into USERS(username,upassword,chucnang) values('MaiDTT','456','GV')
insert into USERS(username,upassword,chucnang) values('LoanTT','789','GV')
go

insert into Class(IDClass,NameClass)values('PT12351-MOB','Lớp 51 MOB khóa 12.3')
insert into Class(IDClass,NameClass)values('PT12353-MOB','Lớp 53 MOB khóa 12.3')
insert into Class(IDClass,NameClass)values('PT12354-MOB','Lớp 54 MOB khóa 12.3')
go

insert into STUDENT(Masv,Hoten,IDClass,Ngaysinh,gioitinh,diachi,dienthoai,Khoanganh,loginsv)
values('PH00123',N'Lê Thiện Trung','PT12351-MOB','1983-09-10','Nam',N'Hà nội','09123456789','K12.3-MOB','TrungLTPH00123@fpt.edu.vn')

insert into STUDENT(Masv,Hoten,IDClass,Ngaysinh,gioitinh,diachi,dienthoai,Khoanganh,loginsv)
values('PH00125',N'Lê Minh Đăng','PT12351-MOB','1985-01-06','Nam',N'Hà nội','09123456218','K12.3-MOB','DangLMPH00125@fpt.edu.vn')

insert into STUDENT(Masv,Hoten,IDClass,Ngaysinh,gioitinh,diachi,dienthoai,Khoanganh,loginsv)
values('PH00126',N'Lê Xuân Lý','PT12351-MOB','1985-08-07','Nam',N'Hà nội','09123456367','K12.3-MOB','LyLXPH00126@fpt.edu.vn')







go




select * from USERS
select STUDENT.* from student join class on 
student.IDClass=class.IDClass
select *from class